#naiveHA_temp_sensor_info {
    text-align: center;
    font-size: 4.5em;
    font-weight: 700;
}
#naiveHA_temp_sensor_last_refresh {
    text-align: right;
    font-size: 1.5em;
    font-style: italic;
}
@media screen and (min-width: 1024px) {
    #naiveHA_temp_sensor_info {
        font-size: 2em;
        padding-left: 20px;
    }
    #naiveHA_temp_sensor_last_refresh {
        font-size: 1em;
    }
}
